html {
  height: 100%;
}
body {
  margin:0;
  padding:0;
  font: 200 14px "Helvetica Neue","Helvetica","Arial",sans-serif;
  height:100%;
}
#root {
  height: 100%;
}

.flexbox-container {
  display:flex;
  height: 100%;
}
.flexbox-sidebar {
  background-color: #F3E1DB;
  width: 82px;
  border-right: 1px solid #B9ADAD;
  background: linear-gradient(-45deg, #CBCACE, #FFEFE4);
}
.sidebar-item {
  position: relative;
  z-index: 0;
  display: inline-block;
  padding-top:5px;
  padding-bottom:5px;
  width: 82px;
  /*border-radius: 4px;*/
  list-style: none;
  text-align: center;
  font-weight: normal;
  font-size: 32px;
  cursor: pointer;
  color: #60666C;
}
.sidebar-item.top {
  padding-top:10px;
  padding-bottom:10px;
  border-bottom: 1px solid #B9ADAD;
}
.sidebar-item:hover {
    color: #3093FF;
}

.flexbox-content {
  width: 100%;
}
.top-bar {
  font-weight: 500;
  text-align: center;
  padding: 20px;
  color: #60666C;
  position: relative;
}
.top-bar .compose {
  position: absolute;
  top:10px;
  right:20px;
  font-size:25px;
  cursor: pointer;
}
.top-bar .compose:hover {
  color: #3093FF;
}
.tweet {
  margin-bottom:10px;
  margin-left: 20px;
  padding-bottom:10px;
  border-bottom: 1px solid #B9ADAD;
}
