html {
  height: 100%;
}
body {
  margin:0;
  padding:0;
  font: 200 14px "Helvetica Neue","Helvetica","Arial",sans-serif;
  height:100%;
  -webkit-font-smoothing: antialiased;
}
#root {
  height: 100%;
}

.flexbox-container {
  display:flex;
  height: 100%;
}
.flexbox-sidebar {
  background-color: #F3E1DB;
  width: 82px;
  border-right: 1px solid #08090A;
  background: #2E3038;
  position: relative;
  display: flex;
  flex-direction: column;
}
.sidebar-item {
  z-index: 0;
  padding-top:5px;
  padding-bottom:5px;
  width: 82px;
  /*border-radius: 4px;*/
  list-style: none;
  text-align: center;
  font-weight: normal;
  font-size: 32px;
  cursor: pointer;
  color: #60666C;
  color: #696B70;
}
.sidebar-item.top {
  padding-top:10px;
  padding-bottom:10px;
  /*border-bottom: 1px solid #08090A;*/
  font-size: 40px;
}
.sidebar-item.top img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-left: -25px;
}
.sidebar-item.space {
  cursor: default;
  flex-grow:10;
}
.sidebar-item.down {
  font-size: 15px;
}
.sidebar-item:hover {
  color: #D2D3D5;
}
.sidebar-item.selected {
  color: #3093FF;
}

.flexbox-content {
  width: 100%;
  overflow-y:auto;
}
.top-bar {
  font-weight: 500;
  text-align: center;
  padding: 20px;
  color: #60666C;
  position: relative;
}
.top-bar .compose {
  position: absolute;
  top:10px;
  right:20px;
  font-size:25px;
  cursor: pointer;
}
.top-bar .compose:hover {
  color: #3093FF;
}
.tweet {
  margin-bottom:10px;
  margin-left: 80px;
  padding-bottom:10px;
  border-bottom: 1px solid #EBEBEB;
  position: relative;
  min-height: 50px;
}
.tweet:last-child {
  border-bottom: 0;
}
.tweet .address {
  color: #9D9D9D;
}
.tweet .minutes-ago {
  position: absolute;
  right:10px;
  color: #9D9D9D;
  top:0;
}

.avatar {
  position:absolute;
  left:-60px;
  top:0;
}
.avatar .default-avatar {
  font-size: 50px;
  width: 50px;
  height: 50px;
  text-align: center;
  color:#9D9D9D;
}
.avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
